extends index 

block layout-content

    .contact 
        form
            h1 Contact us 
            div.input
                p Name
                input(type="text")
            div.input
                p E-mail
                input(type="text")
            div.input
                p Message
                textarea(name="", cols="30", rows="5") 
            div.button
                button Submit