block variables
doctype html
html(lang='en')
 head
    title Hello, World!
    link(rel="stylesheet" href="/style.css")
      


 body
    .error-page 
        .wrapper
            img(src="/error.jpg")
            h1 Sorry we're not avaible right now ! 