extends index 

block layout-content

    .section
        .wrapper
            div.header
                h1 Travel Agency Algeria
            p Organized travel to Turkey, Tunisia, Morocco and Spain ...
            button Reserver Maintenant