block variables
doctype html
html(lang='en')
 head
    title Hello, World!
    link(rel="stylesheet" href="/style.css")
      


 body
  div 
    nav.navbar
      div.logo
          a TRAVEDA 
      ul
          li
            a(href="/")   Home
          li
            a(href="services")  Our services
          li
            a(href="contact")  Contact us

  block layout-content

    
