extends index 
block layout-content

    .services
        h1 Our services | Traveda travel agency
        .wrapper
            div.grid-layout
                div.text
                    h2 Flights Reservations
                    p Wherever you need to be. We offer price cut airfares to destinations worldwide, giving you greater freedom to choose your preferred airline as well as more departure and arrival times to suit your plans. We provide cheaper flights with fewer stops and we work with low-cost carriers, charter carriers, and main worldwide airlines, to offer everything from economy airfare deals to business class and first class travel.
                div 
                    img(src="/flight.jpg")
                div
                    img(src="/tour.jpg")
                div.text 
                    h2 Tours and Sightseeing
                    p Our wide range of travel activities can meet the varied interests of travelers. Below are samples of the kinds of products we offer. City Tours and Sightseeing, City Pass and Skip the Line Tickets, Hop On Hop Off Tours, Day Trips and Excursions outside the city, Private Tours, Night Tours, Shore Excursions, Cruises, Mini and Dinner Cruises, and many more !!!
                div.text 
                    h2 Transfers
                    p We offer airport transfers, resort transfers, city transfers, port transfers and ski transfers. Whether you need to get from airport to hotel or hotel to airport or a pick-up after your cruise, we can help with any airport transfers or port transfers to your resort or hotel via low cost shuttles
                div 
                    img(src="/taxi.jpg")